<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui hude header">Cadastro de Adms</div>
	<form class="ui form" action="/cadastro_adm" method="POST">
		<div class="field">
			<label>Nome: </label>
			<input type="text" name="adms[nome]" placeholder="Nome do Adm">
		</div>
		<div class="field">
			<label>Usuário:</label>
			<input type="text" name="adms[user]" placeholder="Usuario do Adm">
		</div>
		<div class="field">
			<label>Senha:</label>
			<input type="password" name="adms[pass]" placeholder="Senha do Adm">
		</div>
		
		<button class="ui green basic button">Cadastrar</button>
	</form>
</div>

<%adms.forEach(function(adm){%>
<div class="ui main text container segment">
	
	<p>Nome Adm: <%=adm.nome%></p>
	<p>Usuário: <%=adm.user%></p>
	<form action="/cadastro_adm/<%=adm._id%>?_method=DELETE" method="POST">
		<a class="ui orange basic button" href="/cadastro_adm/<%=adm._id%>/edit">Edit</a>
		<button class="ui red invert button">Delete</button>
	</form>
	
</div>
<%});%>

<% include partials/footer %>