<% include partials/header %>

<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			<h1>Hello Nature!</h1>
			<p>Welcome my Album!</p>
			<p>
				<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New CampPhoto!</a>
			</p>
		</div>
	</header>
	

	<div class="row" style="display: flex; flex-wrap: wrap;">
	<% campgrounds.forEach(function(camp){ %>
		
		<div class="col-md-3 col-sm-6" style="text-align: center;">
			<div class="thumbnail">
				<img src="<%= camp.image; %>">
				<div class="caption">
					<h4><%= camp.name; %></h4>
				<p>
					<a href="/campgrounds/<%= camp._id; %>" class="btn btn-primary">More Info</a>
				</p>
				</div>
		</div>
		<% }); %>
	</div>
</div>


<% include partials/footer %>